.footer-custom {
    height: auto;
    padding: 50px 80px;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    a {
        color: #fff;
        transition: all .3s;
        &:hover {
            color: #BF0000;
        }
        .red-color{
            transition: all .3s;
            &:hover {
                color: #fff;
            }
        }
    }
    .footer-custom-menu-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .social-menu {
            i {
                margin: 0 5px;
                font-size: 20px;
                &:hover {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .language-selector {
            img {
                margin: 0 10px;
                width: 30px;
                cursor: pointer;
            }
        }
    }
    .footer-custom-menu-right {
        display: flex;
        justify-content: space-around;
    }
}