.container-custom {
    width: 80%;
    margin: 0 auto;
    .section-custom {
        margin: 80px auto 0;
    }
    .image-container {
        width: 80%;
        position: relative;
        margin: 30px auto 0;
        .title-container {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img{
            width: 100%;
        }
    }
    .pisos-container {
        width: 90%;
        .piso-container{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .piso {
                position: relative;
                width: 25%;
                .photo-container {
                    height: 200px;
                }
            }
        }
    }
    /* .contacto-container {
        width: 90%;
        margin-bottom: 80px;
        .form-container {
            display: flex;
            p {
                font-size: 24px;
                margin-top: 40px;
            }
            
            form {
                margin-top: 60px;
                textarea {
                    display: block;
                    width: 100%;
                    height: 100px;
                    position: relative;
                    margin: auto 0;
                    
                }
                button {
                    margin: 30px auto 0;
                    width: 98%;
                    display: block;
                }
            }
        }
    } */
}
