@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: #828282;
    padding-top: 53px;
}
p {
    color: #828282;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 32px;
}
h3 {
    font-size: 22px;
}
.red-color {
    color: #BF0000;
}
.red-background {
    background-color: #BF0000;
}
.btn-custom{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #fff;
    transition: all .3s;
    &.red-background:hover {
        color: #BF0000;
        background-color: #fff;
        border: 1px solid #BF0000;
    }
    
}


#chat-header {
    height: 30px;
}

#timestamp {
    color: #828282;
    font-size: x-small;
}

#sendername {
    color: #3e3e3e;
    font-size: small;
}

.chat-cont {
    height: 300px;
}

.send-button {
    float: inline-end;
}


.custom-accordion-button {
    background-color: grey;
    color: black;
    outline: none;
  }
  
  .custom-accordion-button:not(.collapsed) {
    background-color: grey;
    color: black;
  }


  .action-btn-custom {
    color: #BF0000;
    border: none;
    background-color: white;
    a:hover {
        text-decoration: underline }
    }

    .action-btn-left {
        float: inline-start;
    }