.navbar-custom {
    padding: 12px 50px;
    color: #000;
    background-color: rgba(230,230,230,0.9);
    display: flex;
    height: 53px;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    .custom-link-container {
        display: flex;
    }
    .profile-picutre img {
        margin: 0 5px;
        width: 25px;
    }
    button {
        margin: 0 0 0 20px;
    }
    a {
        margin: 0 10px;
        color: #000;
        transition: all .3s;
        &:hover {
            color: #BF0000;
        }
        .red-color{
            transition: all .3s;
            &:hover {
                color: #fff;
            }
        }
    }
}