.navbar-custom {
    padding: 12px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    position: fixed;
    height: 53px;
    top: 0;
    left: 0px;
    width: 100%;
    justify-content: space-between;
    z-index: 100;

    button {
        margin: 0 0 0 20px;
    }

    a {
        margin: 0 10px;
        color: #fff;
        transition: all .3s;

        &:hover {
            color: #BF0000;
        }

        .red-color {
            transition: all .3s;

            &:hover {
                color: #fff;
            }
        }
    }
     
    .square-container {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .square-container img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}